.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
    
}

.grid{
height: 25vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;

border: 5px solid black;
background-color: aqua;
}

.number-grid{
display:grid;
grid-template-columns: 1fr 1fr 1fr

}

.operatorGrid{
display: flex;

flex-direction: column;

}
.operatorGrid button{
    height: 14.28%
}

button{
   width: 50px;
   background-color: white;
}

.operator{
    background-color: orange;
}

.input-display{
    font-size: 1.4rem;
    text-align: center;
    height: 11vh;
    width: 12rem;
    border: 0.5rem solid black;
}

